{% extends "html/header.html" %}
{% block main %}
<script type="text/javascript">
<!--
var xmlHttp;

function load(moon){
	var hoge=document.getElementById("fuga");
	hoge.src=moon
}
// -->
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="2"><tbody><tr>
<h1>それでは部品を追加しましょう</h1>
<td>
<ul>
<h2>それは、どんな種類ですか？</h2>
     <li><span onClick="load('/jukai/add/resis')">抵抗器</span>
</li><li><span onClick="load('/jukai/add/wire')">配線系で線状はんだ、錫メッキなど</span>
</li><li><span onClick="load('/jukai/add/reg')">レギュレータ(3端子など)</span>
</li><li><span onClick="load('/jukai/add/motor')">モータ</span>
</li><li><span onClick="load('/jukai/add/capas')">コンデンサ</span>
</li><li><span onClick="load('/jukai/add/subt')">基板</span>
</li><li><span onClick="load('/jukai/add/motod')">モータドライバ</span>
</li><li><span onClick="load('/jukai/add/switch')">スイッチ</span>
</li><li><span onClick="load('/jukai/add/other')">その他</span>
</li><li><span onClick="load('/jukai/add/mat')">車体材料</span>
</li><li><span onClick="load('/jukai/add/mcu')">マイコン</span>
</li><li><span onClick="load('/jukai/add/con')">コネクタ</span>
</li>
</ul>
</td>
<td valign="top" width="700">
<iframe width="700" height="300" frameborder=0 scrolling=no id="fuga"></iframe>
</body>

{% endblock %}
