{% extends "html/piyo.html" %}
{% block main %}
<div id="bod">

<table summary="test">
	<thead><tr>
			<th scope="col">分類</th>
			<th scope="col">種類</th>
			<th scope="col">値段</th>
			<th scope="col">お店</th>
			<th scope="col">Properties </th>
			<th scope="col">今すぐに</th>
			<th scope="col">急いで</th>
			<th scope="col">そろそろ</th>
			<th scope="col">いつでも</th>
			<th scope="col">Sum </th>
			<th scope="col">Lastupdated </th>
			<th scope="col">Hoge</th>
		</tr></thead>
	<tbody>
		<tr>
			<th scope="row" id="r100">{{ p.partype}}</th>
			<th scope="row" id="r100">{{ p.name }}</th>
			<th scope="row" id="r100">{{ p.price }}</th>
			<th scope="row" id="r100"><a href={{ p.url }}>{{ p.shop}}</a></th>
			<th scope="row" id="r100">{{ p.properties }}</th>
			<th scope="row" id="r100">{{ p.Mnum }}個</th>
			<th scope="row" id="r100">{{ p.Hnum }}個</th>
			<th scope="row" id="r100">{{ p.Nnum }}個</th>
			<th scope="row" id="r100">{{ p.Wnum }}個</th>
			<th scope="row" id="r100">{{ p.allneeds}}個</th>
			<th scope="row" id="r100">{{ p.up_date }}</th>
			<th scope="row" id="r100"><a href=/django/jukai/{{p.id}}>Go editting</a></th>
		</tr>
			<th scope="row" id="r100"></th>
			<th scope="row" id="r100"></th>
			<th scope="row" id="r100"></th>
			<th scope="row" id="r100"></a></th>
			<th scope="row" id="r100"></th>
			<th scope="row" id="r100">hoge</th>
			<th scope="row" id="r100">{{ p.properties }}</th>
			<th scope="row" id="r100">{{ p.properties }}</th>
			<th scope="row" id="r100">{{ p.properties }}</th>
	</tbody>
</table>	
<form action="/django/jukai/{{ p.id }}/add/" method="post">
<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
<input type="submit" value="投票する" />
</form>
{% endblock %}
