<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="http://iorivr.dyndns.org/global.css" type="text/css">
<title></title>
</head>
<body class="website"><div class="webpage">
<div id="header">
<div class="topNavigation">
	<span>» </span>
	<a href="http://www.freeml.com/pclub2">
	  メーリングリスト</a>|
	<a href="ftp://jukai.dyndns.org">
	  IRC</a>|
	<a href="ftp://jukai.dyndns.org">
	  FTP</a>|
	  <a href="http://www33.atwiki.jp/p-club/">
	  Wiki</a>|
	<a href="/jukai/">
	  買出しリスト</a>|
	<a href="http://www.freeml.com/pclub2">
	Youtube
	  </a>|
	<a href="http://iorivr.dyndns.org/gitweb/">
	  リポジトリ</a>
</div>
<div id="inheader">
	<div align="right">
		<a href="/jukai">トップ</a>
		<a href="/jukai/add">部品を追加する</a>
		<a href="/jukai/new">最近注文があった順</a>
		<a href="/jukai/reqs">最近の注文</a>
		<a href="/jukai/pop">人気の部品</a>
		検索
		{% if user.is_authenticated %}
		{{ user.username }}
		{% else %}
		<a href="/django/login">ログイン</a>
		{% endif %}
		<a href="/django/logout">ログアウト</a>
		<a href="http://iorivr.dyndns.org/django/jukai/admin">管理</a>
	</div>
</div>
<div class="centralHeader">
<a href=""><img alt='' width="506" height="90" src="http://iorivr.dyndns.org/logo.png"></a><div class="headerTools"><div id="headerSearch">
</div></div>
</div>
<div class="navBar">
<span class="doNotDisplay">
	  案内:
	</span><a href="/">
	  ホーム</a> | 
	<a href="/">
	  概要</a> | 
	<a href="/">
	  展示室</a> | 
	<a href="/">
	  連携・支援者</a> | 
	<a href="/">
	  ニュース</a> | 
	<a href="/">
	  文書</a> | 
	<a href="/">
	  コミュニティー</a> | 
	<a href="/">
	  設備</a>|
	<a href="/">
	  連絡</a>|
	<a href="/">
	  部の歴史</a>|
{{ user.email }}
</div>
</div>
</div>
{% block main %}{% endblock %}
</html>
