{% extends "html/piyo.html" %}
{% block main %}
<div id="container">
	<div id="sheet">
<table summary="test">
	<thead><tr>
			<th scope="col">種類</th>
			<th scope="col">値段</th>
			<th scope="col">お店</th>
			<th scope="col">Properties </th>
			<th scope="col">今すぐに</th>
			<th scope="col">急いで</th>
			<th scope="col">そろそろ</th>
			<th scope="col">いつでも</th>
			<th scope="col">Sum </th>
			<th scope="col">Lastordered</th>
			<th scope="col"></th>
		</tr></thead>
	<tbody>
		{% if needs %}
		<tr>{% for n in needs %}
			<th scope="row" id="r100">{{ n.latest_part.name }}</th>
			<th scope="row" id="r100">{{ n.latest_part.price }}</th>
			<th scope="row" id="r100"><a href={{ n.latest_part.url }}>{{ n.latest_part.shop}}</a></th>
			<th scope="row" id="r100">{{ n.latest_part.properties }}</th>
			<th scope="row" id="r100">{{ n.Mlevneeds }}個</th>
			<th scope="row" id="r100">{{ n.Alevneeds }}個</th>
			<th scope="row" id="r100">{{ n.Blevneeds }}個</th>
			<th scope="row" id="r100">{{ n.Clevneeds }}個</th>
			<th scope="row" id="r100">{{ n.allneeds }}個</th>
			<th scope="row" id="r100">{{ n.up_date }}</th>
			<th scope="row" id="r100"><a href=/jukai/{{n.latest_part.id}}>Edit</a></th>
			<th scope="row" id="r100"><a href=/jukai/req/{{n.latest_part.id}}>Request</a></th>
		</tr>
		{% endfor %}
		{% else %}
		<p>I don't know anything about mechatronics.</p>
		{% endif %}
		</tbody>
		</table>	
<a href="/jukai/add">部品を追加する</a>
</div></div>

</body>

{% endblock %}
