{% extends "html/piyo.html" %}
{% block main %}
<div id="bod">
		{% if user.is_authenticated %}
		Welcome, {{ user.username }}. Thanks for logging in.
		{% else %}
		<a href="/django/login">ログイン</a>
		{% endif %}
<table summary="test">
	<thead><tr>
			<th scope="col">種類</th>
			<th scope="col">値段</th>
			<th scope="col">お店</th>
			<th scope="col">Properties </th>
			<th scope="col">今すぐに</th>
			<th scope="col">急いで</th>
			<th scope="col">そろそろ</th>
			<th scope="col">いつでも</th>
			<th scope="col">Sum </th>
			<th scope="col">Lastupdated </th>
			<th scope="col"></th>
		</tr></thead>
	<tbody>
		{% if latest_part%}
		<tr>{% for p in latest_part %}
			<th scope="row" id="r100">{{ p.name }}</th>
			<th scope="row" id="r100">{{ p.price }}</th>
			<th scope="row" id="r100"><a href={{ p.url }}>{{ p.shop}}</a></th>
			<th scope="row" id="r100">{{ p.properties }}</th>
			<th scope="row" id="r100">{{ p.Mnum }}個</th>
			<th scope="row" id="r100">{{ p.Hnum }}個</th>
			<th scope="row" id="r100">{{ p.Nnum }}個</th>
			<th scope="row" id="r100">{{ p.Wnum }}個</th>
			<th scope="row" id="r100">{{ p.allneeds}}個</th>
			<th scope="row" id="r100">{{ p.up_date }}</th>
			<th scope="row" id="r100"><a href=/jukai/{{p.id}}>Edit</a></th>
		</tr>
		{% endfor %}
		{% else %}
		<p>I don't know anything about mechatronics.</p>
		{% endif %}
		</tbody>
		</table>	
<a href="/jukai/add">部品を追加する</a>
</div>

</body>

{% endblock %}
