<html lang=ja>
<head>
	<title> 部品リスト{% if update %} 新着{{ update }}件 {% endif %} </title>
	<link href="http://iorivr.dyndns.org/fuga.css" rel=stylesheet type="text/css">
<body>
<div id="inheader">
	<div align="center">
		検索
		ログイン
		<a href="http://iorivr.dyndns.org/django/jukai/admin">管理</a>
	</div>
</div>
<div id="header">
	<div style="float:left;">
	<div id="box1">物理部</div>
	<div id="box2">電気部</div>
	</div>
	<div id="box3">::部品リスト{% if update %}::新着{{ update }}件 {% endif %}</div>
	<div id="sepx"></div>
</div>
<div id="bod">
{% if latest_part%}
<ul>
{% for p in latest_part %}
<li>{{ p.name }},{{ p.properties }},{{p.Nnum}},{{ p.Hnum|add:p.Wnum|add:p.Nnum|add:p.Mnum }}, {{ p.allneeds }}</li>
{% endfor %}
</ul>
{% else %}
<p>I don't know anything about mechatronics.</p>
{% endif %}
test: <a href="http://localhost:8000/jukai/5"> hige </a>
</div>

</body>

