<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="http://iorivr.dyndns.org/global.css" type="text/css">
<title></title>
</head>
<table summary="test">
<form method="POST" action="">
<tr class="odd">
<th scope="row" class="column1">
	<tbody>
		<tr scope="col"><td>名前</td>
			<td>{{ form.name }}</td>
		</tr>
		<tr scope="col"><td>Properties</td>
<td>
	{% if decent %}
	{% ifequal decent "wire" %}
	種類{{ form.partype }}<br>太さ{{ form.phi }}mm<br>長さ{{ form.length }}{{form.lensuf}}m
	{% endifequal%}
	{% ifequal decent "resis" %}
	抵抗値{{form.ohm}}{{form.ohmsuf}}Ω<br>ワット数{{form.watt}}W
	{% endifequal%}
	{% ifequal decent "capas" %}
	容量{{ form.farad }}F<br>耐圧{{ form.volt}}V
	{% endifequal%}
	{% ifequal decent "motor" %}
	型番,(メーカ){{ form.partype }}
	{% endifequal%}
	{% ifequal decent "mat" %}
	材質,形状の説明{{ form.partype }}
	{% endifequal%}
	{% ifequal decent "mcu" %}
	{{ form.partype }}
	|型番|
	{% endifequal%}
	{% ifequal decent "motod" %}
	{{ form.partype }}
	|型番|
	{% endifequal%}
	{% ifequal decent "switch" %}
	{{ form.partype }}
	|接点数,形状|
	{% endifequal%}
	{% ifequal decent "reg" %}
	型番{{ form.partnum }}<br>電圧{{ form.volt }}V
	{% endifequal%}
	{% ifequal decent "subt" %}
	基板のおおきさ{{ form.bdsize}}
	説明{{ form.partype }}
	{% endifequal%}
	{% ifequal decent "con" %}
	種類{{ form.partype }}
	{% endifequal%}
	{% ifequal decent "other" %}
	わかりやすく
	{% endifequal%}
</td>
	{% else %}
	常識にそって</td>
{% endif %}</tr>
		<tr><td>値段</td><td>{{ form.price }}</td></tr>
		<tr><td>お店</td><td>{{ form.shop }}</td></tr>
		<tr><td>参考url</td><td>{{ form.url }}</td></tr>
		<td>{{form.user}}</td>
	<td>{{ form.pay_by_school }}</td>
<form method="POST" action="">
<input type="submit" />
</form>
	{{ decent }}
