{% extends "html/piyo.html" %}
{% block main %}
<div id="container">
	<div id="sheet">
		{{ sp }}
		{% if debug %}
		{{ bug }}
		{% endif %}
<table summary="test">
	<thead><tr>
			<th scope="col">名前</th>
			<th scope="col">Properties </th>
			<th scope="col">値段</th>
			<th scope="col">お店</th>
			<th scope="col">参考url</th>
		</tr></thead>
	<tbody>
<form method="POST" action="">
<tr class="odd">
<th scope="row" class="column1">
	{{ form.name }}</th>
<td>
	{% if decent %}
	{% ifequal decent "wire" %}
	種類{{ form.partype }}<br>太さ{{ form.phi }}mm<br>長さ{{ form.length }}m
	{% endifequal%}
	{% ifequal decent "resis" %}
	抵抗値{{form.ohm}}Ω<br>ワット数{{form.watt}}W
	{% endifequal%}
	{% ifequal decent "capas" %}
	容量{{ form.farad }}F<br>耐圧{{ form.volt}}V
	{% endifequal%}
	{% ifequal decent "motor" %}
	型番,(メーカ){{ form.partype }}
	{% endifequal%}
	{% ifequal decent "mat" %}
	材質,形状の説明{{ form.partype }}
	{% endifequal%}
	{% ifequal decent "mcu" %}
	{{ form.partype }}
	|型番|
	{% endifequal%}
	{% ifequal decent "motod" %}
	{{ form.partype }}
	|型番|
	{% endifequal%}
	{% ifequal decent "switch" %}
	{{ form.partype }}
	|接点数,形状|
	{% endifequal%}
	{% ifequal decent "reg" %}
	型番{{ form.partnum }}<br>電圧{{ form.volt }}V
	{% endifequal%}
	{% ifequal decent "subt" %}
	基板のおおきさ{{ form.bdsize}}
	説明{{ form.partype }}
	{% endifequal%}
	{% ifequal decent "con" %}
	種類{{ form.partype }}
	{% endifequal%}
	{% ifequal decent "other" %}
	わかりやすく
	{% endifequal%}
</td>
	{% else %}
	常識にそって</td>
	{% endif %}
	<td>{{ form.price }}</td>
	<td>{{ form.shop }}</td>
	<td>{{ form.url }}</td>
	<td>{{ form.pay_by_school }}</td>
<input type="submit" />
</form>
	{{ decent }}
{% endblock %}
